################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/PM4_Module2_Variant08/DateSystemApp/obj
